body {
    border: 5px solid #ffffff;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-image: url("../images/color_smoke_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1 {
    color: #ffffff;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 100px;
    text-align: center;
}

h2 {
    color: #e30a07;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 35px;
    text-align: center;
}
p {
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    line-height: 1.5;
}
img {
    max-width: 100%;
}

.topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  .topnav a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.active {
    background-color: #e30a07;
    color: white;
  }
@media (max-width: 550px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 14px;
    }
}